<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodFitApp_pcortes"
        tools:targetApi="31">
        <activity
            android:name=".ActivityColocarImagen"
            android:exported="false" />
        <activity
            android:name=".activities_cena.ActivityCenaDomingo"
            android:exported="false" />
        <activity
            android:name=".activities_cena.ActivityCenaSabado"
            android:exported="false" />
        <activity
            android:name=".activities_cena.ActivityCenaViernes"
            android:exported="false" />
        <activity
            android:name=".activities_cena.ActivityCenaJueves"
            android:exported="false" />
        <activity
            android:name=".activities_cena.ActivityCenaMiercoles"
            android:exported="false" />
        <activity
            android:name=".activities_cena.ActivityCenaMartes"
            android:exported="false" />
        <activity
            android:name=".activities_cena.ActivityCenaLunes"
            android:exported="false" />
        <activity
            android:name=".activities_almuerzo.ActivityAlmuerzoDomingo"
            android:exported="false" />
        <activity
            android:name=".activities_almuerzo.ActivityAlmuerzoSabado"
            android:exported="false" />
        <activity
            android:name=".activities_almuerzo.ActivityAlmuerzoViernes"
            android:exported="false" />
        <activity
            android:name=".activities_almuerzo.ActivityAlmuerzoJueves"
            android:exported="false" />
        <activity
            android:name=".activities_almuerzo.ActivityAlmuerzoMiercoles"
            android:exported="false" />
        <activity
            android:name=".activities_almuerzo.ActivityAlmuerzoMartes"
            android:exported="false" />
        <activity
            android:name=".activities_almuerzo.ActivityAlmuerzoLunes"
            android:exported="false" />
        <activity
            android:name=".activities_desayuno.ActivityDesayunoDomingo"
            android:exported="false" />
        <activity
            android:name=".activities_desayuno.ActivityDesayunoSabado"
            android:exported="false" />
        <activity
            android:name=".activities_desayuno.ActivityDesayunoViernes"
            android:exported="false" />
        <activity
            android:name=".activities_desayuno.ActivityDesayunoJueves"
            android:exported="false" />
        <activity
            android:name=".activities_desayuno.ActivityDesayunoMiercoles"
            android:exported="false" />
        <activity
            android:name=".activities_desayuno.ActivityDesayunoMartes"
            android:exported="false" />
        <activity
            android:name=".activities_desayuno.ActivityDesayunoLunes"
            android:exported="false"
            android:label="@string/title_activity_desayuno_lunes"
            android:theme="@style/Theme.FoodFitApp_pcortes" />
        <activity
            android:name=".CalculadoraImcActivity"
            android:exported="false" />
        <activity
            android:name=".ComidaNocheActivity"
            android:exported="false" />
        <activity
            android:name=".ComidaMediodiaActivity"
            android:exported="false" />
        <activity
            android:name=".ComidaManianaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>